@charset "UTF-8";

/* Configurações para telas grandes */


@media screen and (min-width: 1201px) {

    body {
        background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    }

    h1 {
        text-align: left;
        font-size: 1.5em;
        padding-left: 25px;
    }

    main {
        margin: auto;
    }

    main form {

        background-color: var(--cor1);
        display: block;
        margin: 0px 35px 0px 0px;
        padding: 0px 0px 120px 0px;
        border-radius: 10px 0px 0px 10px;
    
        width: 450px;
        height: 200px;
    }

    label, input {
        margin: 20px 5px;
    }
    
    .fim {
        padding: 10px 0px 0px 80px;
    }
    
    img.big {
        display: inline-block;
        max-width: 250px;
        max-height: 320px;
        
    
        position: absolute;
        top: 0%;
        left: 51%;
    }
}