@charset "UTF-8";

/* Configurações para telas pequenas */
 
@media screen and (max-width: 600px){

    body{
        background-color: var(--cor5);
    }

    main {
        margin: auto;
    }

    h1 {
        text-align: left;
        font-size: 1em;
        padding-left: 35px;
    }

    main form {

        background-color: var(--cor1);
        display: block;
        margin: auto;
        padding: 10px 0px 120px 0px;
        border-radius: 10px 0px 0px 10px;
    
        width: 300px;
        height: 58px;
    }

    label, input {
        margin: 10px 5px;
    }
    
    .fim {
        text-align: left;
        padding: 20px 10px 0px 0px;
    }
    
    img.small {
        display: inline-block;
        max-width: 106px;
    
        position: absolute;
        top: 0%;
        left: 73%;
    }
}