@charset "UTF-8";

/* Configurações para telas pequenas */
 
@media screen and (max-width: 600px){

    body {
        background-image: url(../imagens/parede.jpg);
        height: 100vh;
        width: 100vw;
    }
    main {
        margin: auto;
    }

    main form {

        background-color: var(--cor1);
        display: block;
        margin: auto;
        padding: 0px 15px 120px 0px;
        border-radius: 10px 0px 0px 10px;
    
        width: 300px;
        height: 58px;
    }

    #forms {
        position: absolute;
        top: 30%;
        left: 20%;
    }
    label, input {
        margin: 10px 5px;
    }

    .fim {
        padding: 20px 0px 0px 80px;
    }

    div img {
       /* display: inline-block; */
        max-width: 100px;
    
        position: absolute;
        top: 45%;
        left: 73%;
    }
}